
@{
    ViewBag.Title = "Index";
}

<div class="row">

    <ul>
        @foreach (var c in Model)
        {
            <li>
                @c.DateTime.ToString("dd/MM/yyyy HH:mm") - @c.Category.Name
            </li>
        }
    </ul>
    @Html.ActionLink("Create Courses", "Create")
</div>

